<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aspl.fortunecourier">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.aspl.fortunecourier.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.customer.LandingCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.LandingAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.SignUpCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.SignUpAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.LoginCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.LoginAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.OTPVerificationCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.OTPVerificationAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.ForgotPasswordCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.ForgotPasswordAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.ResetPasswordCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.ResetPasswordAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.DashboardCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.DashboardAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.UpdateProfileCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.UpdateProfileAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.ChangePasswordCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.ChangePasswordAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.SetPhoneNumberCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.SetPhoneNumberAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.ChangePhoneNoCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.ChangePhoneNoAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".activity.customer.CreateShipmentFromActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.customer.CreateShipmentToActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.customer.ShipmentDetailsCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.customer.CheckRateScreenActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.customer.CheckRatesFromActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.customer.CheckRatesToActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.ContactUsCustomerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.associate.ContactUsAssociateActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.TrackShipmentActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.customer.ShipmentHistoryActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />


        <!-- For OTP -->
        <receiver android:name=".utility.SMSReciver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!--
           Defining Services
       -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>